@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap");
.Sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  background-color: rgb(12, 20, 29);
  z-index: 1;
  color: rgb(255, 255, 255);
  font-family: "Roboto Slab";
  padding: 0.5rem;
  border-style: solid;
  border-color: rgb(0, 0, 0);
}
.upper {
  background-color: rgb(12, 20, 29);

  width: 100%;
  height: 50px;
  color: white;

  border-style: solid;
  border-color: rgb(0, 0, 0);
}

.Profile {
}
